body {
  background-image: url(https://getwallpapers.com/wallpaper/full/8/a/a/6122.jpg);
  background-size: cover;
}

/* FOOTER */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black !important;
  color: white;
  padding-top: 50px;
  text-align: center;
  font-size: 32px;
}

.footer a {
  padding: 25px;
  transition: ease 0.2s;
}

.footer a:hover {
  color: #3795ff !important;
}

/* ABOUT ME */

.about-text {
  background-color: whitesmoke;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  overflow-y: auto;
  max-height: 600px;
  margin-bottom: 100px;
}

.about-text a {
  text-decoration: none;
}

.signature .signature-img {
  border: none;
  width: 150px;
  margin-right: 50px;
  margin-bottom: 30px;
}

#bold-text {
  font-weight: 600;
  color: #921952;
  transition: ease 0.1s;
}

#bold-text:hover {
  color: #3795ff;
  text-decoration: underline;
}

.about-text h2 {
  text-align: center;
  font-family: "Manrope", sans-serif;
}

.about-me-container img {
  width: 400px;
  height: auto;
  border: solid 2px white;
}

.bio-text {
  font-size: 20px;
}

.credentials {
  color: whitesmoke;
  font-family: "Oswald", sans-serif;
}

.logo-images img {
  border: none;
  max-width: 150px;
  padding: 15px;
}

/* RESUME */

.resume {
  text-align: center;
  padding-bottom: 100px;
}

.resume h2 {
  color: whitesmoke;
  font-family: "Manrope", sans-serif;
}

.resume .row {
  padding-bottom: 25px;
}

.bi.bi-download {
  color: whitesmoke;
  transition: color 0.2s ease;
}

.bi.bi-download:hover {
  color: #3795ff;
}

.icon {
  font-size: 18px;
}

.contact {
  color: whitesmoke;
  padding-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 25px;
}

.contact h2,
h4 {
  text-align: center;
  font-family: "Manrope", sans-serif;
}

.contact h4 {
  font-size: 20px;
}

.btn {
  display: block; /* Ensure it takes up the full width */
  margin: 0 auto; /* Center horizontally */
  width: 300px;
  font-size: 26px;
  font-family: "Manrope", sans-serif;
}

/* PORTFOLIO */

.project {
  display: flex;
  align-items: center;
  background-image: url(https://getwallpapers.com/wallpaper/full/4/d/c/56482.jpg);
  background-size: cover;
  color: whitesmoke;
  border-bottom: solid 5px whitesmoke;
}

.project:last-child {
  margin-bottom: 80px;
}

.project img {
  width: 750px;
  border-radius: 30px;
  padding: 20px;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 250px;
  padding-right: 100px;
  background-color: rgba(0, 0, 0, 0.2);
}

.project-title {
  color: white;
  margin-bottom: 5px;
  font-family: "Manrope", sans-serif;
}

.project-info a {
  color: whitesmoke;
  font-family: "Manrope", sans-serif;
  transition: ease 0.2s;
}

.project-info a:hover {
  color: #3795ff;
}

.project-info h3 {
  margin-bottom: 50px;
}

.project-description {
  font-family: "Manrope", sans-serif;
}
/* HEADER  */

header {
  background-color: black;
  color: #fff;
  padding: 1rem;
}

.navbar h1 {
  color: whitesmoke;
  font-size: 36px;
  font-family: "Oswald", sans-serif;
}

.navbar h1:hover {
  color: whitesmoke;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav-links li {
  padding: 0.5rem 1rem;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  transition: ease 0.1s;
}

.nav-links li a:hover {
  color: #3795ff;
}

.nav-links li a.active {
  font-weight: bold;
  color: #3795ff;
}

@media (max-width: 768px) {
  /* Adjust the breakpoint according to your needs */
  .navbar {
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start of the column */
    align-items: center; 
  }

  header {
    text-align: center;
    background-color: black; /* Fallback color */
    border-bottom: double 2px #fff;
    background-image: url('https://www.pixelstalk.net/wp-content/uploads/2016/05/Black-Backgrounds-Free-Download-620x349.jpg');
    background-size: cover; /* Cover the entire header */
    background-position: center; /* Center the background image */
}

  .nav-links {
    display: none; /* Hide nav links by default */
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 70px; /* Adjust this value as needed */
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    border-radius: 25px;
  }

  .nav-links.open {
    display: flex; /* Display nav links when menu is open */
  }

  .hamburger {
    display: block; /* Display hamburger icon */
    cursor: pointer;

  }

  .hamburger .line {
    width: 25px;
    height: 3px;
    background-color: whitesmoke;
    margin: 5px;
  }


  .about-text {
    max-height: 300px;
  }

  .project {
    flex-direction: column; /* Stack items vertically */
    text-align: center; /* Center text */
  }

  .project img {
    width: 100%; /* Make image fill container width */
    margin-bottom: 20px; /* Add some space below image */
  }

  .project-info {
    margin: 0 auto; /* Center horizontally */
    padding: 20px; /* Adjust padding */
  }

  .btn {
    width:150px;
    font-size: 18px;
  }
  .btn-container {
    padding-bottom:50px;
    padding-top: 10px;
  }
}
