:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgba(168, 239, 255, 1);
  --c2: rgba(168, 239, 255, 0.1);
  --glow-color: white;
  --hover-glow-color: #40e0d0;
}

body {
  padding: 0;
  margin: 0;
}

.italic {
  font-style: italic !important;
}

/* FOOTER */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9) !important;
  color: white;
  padding-top: 50px;
  text-align: center;
  font-size: 32px;
}

.footer a {
  padding: 25px;
  transition: ease 0.2s;
}

.footer a:hover {
  color: var(--hover-glow-color) !important;
}

/* ABOUT ME */

.about-text {
  background-color: whitesmoke;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  overflow-y: auto;
  max-height: 600px;
  min-width: 50%;
  margin-bottom: 100px;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 5s ease-in-out, transform 5s ease-in-out;
}

.about-text.visible {
  opacity: 1;
  transform: scale(1);
}

.about-text a {
  text-decoration: none;
}

.signature .signature-img {
  border: none;
  width: 150px;
  margin-right: 50px;
  margin-bottom: 30px;
}

#bold-text {
  font-weight: 600;
  color: #921952;
  transition: ease 0.1s;
}

#bold-text:hover {
  color: #3795ff;
  text-decoration: underline;
}

.about-text h2 {
  text-align: center;
  font-family: "Manrope", sans-serif;
}

.profile-photo {
  box-shadow: 0px 0px 50px rg;
  border: solid 2px white;
  padding: 0;
  margin-top: 10px;
  opacity: 0; /* Start as invisible */
  transform: scale(0.9); /* Start slightly smaller */
  transition: opacity 5s ease-in-out, transform 5s ease-in-out;
  border-radius: 50%;
  animation: pulseShadow 2s infinite; /* Apply the pulsing animation */
}

/* Define the keyframes for the heartbeat glow effect */
@keyframes pulseShadow {
  0% {
    box-shadow: 0px 0px 30px rgba(252, 250, 250, 0.5);
  }
  50% {
    box-shadow: 0px 0px 40px rgba(252, 250, 250, 1); /* Increase glow intensity and size */
  }
  100% {
    box-shadow: 0px 0px 30px rgba(252, 250, 250, 0.5); /* Back to initial state */
  }
}
.profile-photo.visible {
  opacity: 1;
  transform: scale(1);
}

.aboutMe-button {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 5s ease-in-out, transform 5s ease-in-out;
  font-family: monospace !important;
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  background: none;
  perspective: 2em;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 0.35em;
  text-align: center;
  padding: 10px;
  border: none;
}

.aboutMe-button:hover {
  color: var(--hover-glow-color);
  background: none;
  border-color: var(--hover-glow-color);
}

.aboutMe-button:active {
  background-color: inherit !important;
}

.glowing-txt {
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--hover-glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--hov);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.glowing-txt:hover {
  -webkit-text-shadow: 0 0 0.125em var(--hover-glow-color),
    0 0 0.45em var(--hover-glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--hover-glow-color);
  text-shadow: 0 0 0.2em hsl(0 0% 100% / 0.8),
    0 0 0.45em var(--hover-glow-color);
  .faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
  }
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

.aboutMe-button.visible {
  opacity: 1;
  transform: scale(1);
}

.bio-text {
  font-size: 20px;
}

.credentials {
  color: whitesmoke;
  font-family: "Oswald", sans-serif;
  margin: 0 auto;
  background-color: rgb(0, 0, 0, 0.8);
}

.credentials-container {
  font-size: 3vw;
  margin: max(1rem, 2vw);
  border: 0.3rem solid;
  padding: 1vw;
  border-image: conic-gradient(
      from var(--angle),
      var(--c2),
      var(--c1) 0.1turn,
      var(--c1) 0.15turn,
      var(--c2) 0.25turn
    )
    30;
  animation: borderRotate var(--d) linear infinite forwards;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 5s ease-in-out, transform 5s ease-in-out;
}

.credentials-container.visible {
  opacity: 1;
  transform: scale(1);
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: "<percentage>";
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: true;
}

.logo-images img {
  max-width: 150px;
  padding: 10px;
}

.logo-images {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 5s ease-in-out, transform 5s ease-in-out;
}

.logo-images.visible {
  opacity: 1;
  transform: scale(1);
}

/* RESUME */

.resume {
  padding-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Manrope", sans-serif;
}

.boldText {
  font-weight: bold;
}

.checkPoint {
  padding-right: 20px;
  color: #52be80;
}

.checkPointScholar {
  padding-right: 20px;
  color: #f4d03f;
}

.resumeHeader,
.resumeSubHeader,
.sectionTitle,
.summaryText,
.jobHeader,
.jobDescription,
.bulletedPoint {
  color: whitesmoke;
}

.resumeHeader {
  border-top: 2px solid white;
}
.bulletedPoint {
  margin-left: 20px;
}
.jobDescription {
  font-style: italic;
}
.jobHeader {
  font-weight: bold;
}

.sectionTitle {
  border-top: 2px solid whitesmoke;
}

.jobDescription a {
  text-decoration: none;
  color: #3795ff;
}

.jobDescription a:hover {
  color: var(--hover-glow-color);
}

.summaryText {
  font-size: larger;
}

.resume h2 {
  color: whitesmoke;
  font-family: "Manrope", sans-serif;
}

.resume .row {
  padding-bottom: 25px;
}

.bi.bi-download {
  color: whitesmoke;
  transition: color 0.2s ease;
}

.bi.bi-download:hover {
  color: var(--hover-glow-color);
}

.icon {
  font-size: 18px;
}

.icon-spacing {
  margin-right: 100px;
}

.icon-container {
  padding-top: 50px;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

/* Contact */

.contact {
  color: whitesmoke;
  padding: 100px;
  background: url(https://wallpaperaccess.com/full/6247613.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  font-family: "Manrope", sans-serif;
  margin-bottom: 125px;
  width: 100%;
}

.icon-row-Fb,
.icon-row-Sp,
.icon-row-Ig,
.icon-row-Yt,
.icon-row-Gh,
.icon-row-Li {
  font-size: x-large;
  transition: 0.1s ease-in-out;
}

.icon-row-Fb {
  color: #1c95e6;
}

.icon-row-Sp {
  color: #27ae60;
}

.icon-row-Yt {
  color: #e74c3c;
}

.icon-row-Ig {
  color: #c6749c;
}

.icon-row-Gh {
  color: #ccd1d1;
}

.icon-row-Li {
  color: #3498db;
}

/* Apply hover styles to the anchor tags that wrap the icons */
.social-row a {
  text-decoration: none; /* Remove underline if necessary */
}

.social-row a:hover .icon-row-Fb,
.social-row a:hover .icon-row-Sp,
.social-row a:hover .icon-row-Ig,
.social-row a:hover .icon-row-Yt,
.social-row a:hover .icon-row-Gh,
.social-row a:hover .icon-row-Li {
  font-size: xx-large; /* Increase size on hover */
  cursor: pointer; /* Change cursor to pointer */
}

.contact h2,
h4 {
  text-align: center;
  font-family: "Manrope", sans-serif;
}

.contact h4 {
  font-size: 20px;
}

.keepInTouch {
  padding-right: 50px;
}

.contact-btn {
  align-self: center;
  background-color: whitesmoke;
  background-image: none;
  border-color: whitesmoke;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e; /* Text color */
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: "Manrope", sans-serif;
}

.contact-btn:hover {
  box-shadow: rgba(6, 230, 211, 0.7) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
  background-color: var(--hover-glow-color); /* Keep background the same */
  color: #41403e; /* Keep text color the same */
  border-color: var(--hover-glow-color);
  font-weight: bold;
}

.contact-btn:focus {
  box-shadow: rgba(255, 255, 255, 0.7) 2px 8px 4px -6px;
}

.form-container {
  border-left: white 5px ridge;
  padding-left: 50px;
}

.form-control {
  transition: 0.2s ease-in;
  background-color: #ccd1d1;
}

.form-control:hover {
  background-color: whitesmoke;
}

.form-control:focus {
  border-color: rgba(
    14,
    252,
    200,
    0.2
  ); /* Change this to your preferred color */
  box-shadow: 0 0 0 3px rgba(14, 252, 200, 0.7); /* Optional: Adjust shadow effect */
  outline: none; /* Remove the default outline if needed */
}

.titleDiv {
  background-color: rgba(0, 0, 0, 0.3);
  color: whitesmoke;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center;
}

/* PORTFOLIO */

.project {
  background-size: cover;
  color: whitesmoke;
  border-bottom: solid 5px whitesmoke;
  background: rgba(0, 0, 0, 0.8);
}

.project:last-child {
  margin-bottom: 80px;
}

.project img {
  width: 40%;
  padding: 15px;
  border-radius: 25px;
}

.project-title {
  color: white;
  font-family: "Playfair Display", serif;
  width: 100%;
}

.project-description {
  font-family: "Playfair Display", serif;
  border-radius: 25px;
  padding: 10px;
  width: 75%;
  font-size: larger;
}

.project-description a {
  color: #3795ff;
  text-decoration: none;
}

.project-description a:hover {
  color: #7db6f8;
  text-decoration: underline;
}

.project-links {
  background-color: rgba(55, 149, 255, 0.1);
  font-family: "Manrope", sans-serif;
  font-family: "Playfair Display", serif;
}

.project-links a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.project-links a:hover {
  color: #3795ff;
}

.logo-column img {
  max-width: 75px;
  min-width: 75px;
}

.technologies-row {
  background-color: rgba(55, 149, 255, 0.1);
}

.description-hero {
  background-color: rgba(0, 0, 0, 0.3);
}

.uptime-Metrics {
  color: lime;
  font-family: monospace;
  font-weight: 100;
  font-style: italic;
  max-width: fit-content;
  font-size: 14px;
}

.softSkills {
  border-top: 2px solid white;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: "Manrope", sans-serif;
}

.softSkillsTitle {
  font-family: "Playfair Display", serif;
  font-size: 2.8rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: inline-block;
  padding-bottom: 5px;
}

.softSkillsContent {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 20px;
}

/* HEADER  */

header {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 1rem;
}

.navbar h1 {
  color: whitesmoke;
  font-size: 36px;
  font-family: "Oswald", sans-serif;
}

.navbar h1:hover {
  color: whitesmoke;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav-links li {
  padding: 0.5rem 1rem;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  transition: ease 0.1s;
}

.nav-links li a:hover {
  color: var(--hover-glow-color);
  text-shadow: 0px 0px 1px var(--hover-glow-color),
    /* Outer glow */ 0px 0px 8px var(--hover-glow-color),
    /* Stronger outer glow */ 0px 0px 20px var(--hover-glow-color);
}

.nav-links li a.active {
  font-weight: bold;
  color: var(--hover-glow-color);
  text-shadow: 0px 0px 1px var(--hover-glow-color),
    /* Outer glow */ 0px 0px 8px var(--hover-glow-color),
    /* Stronger outer glow */ 0px 0px 20px var(--hover-glow-color);
}

/* Github */

.github-container {
  background-color: rgba(0, 0, 0, 0.8);
}

.githubBio {
  color: white;
  font-family: "Manrope", sans-serif;
  font-size: large;
}

.userName {
  font-size: 40px;
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}

.userName:hover {
  color: #3795ff;
}

.skillsRow {
  color: white;
  font-family: "Oswald", sans-serif;
  padding-bottom: 50px;
}

.githubprofileImg {
  border-radius: 25px;
  border: solid 1px white;
  box-shadow: 0px 0px 10px rgba(252, 250, 250, 0.5);
}

#dropdown-basic-button {
  background: none !important;
  border: none !important;
  font-style: italic;
}

.skillsBtn {
  background: none !important;
  border: none !important;
  font-size: 28px;
}

.statsBox {
  box-shadow: 0px 0px 10px rgba(252, 250, 250, 0.5);
  transition: 0.3s ease;
}

.statsBox:hover {
  box-shadow: 0px 0px 20px rgba(252, 250, 250, 0.5);
}

.Libraries {
  max-width: 580px;
}

.library-title {
  text-decoration: underline;
  color: blue;
}

@media (max-width: 990px) {
  .form-container {
    border-left: none;
    margin-top: 50px;
    padding-left: 10px;
    border-top: white 5px ridge;
    padding-top: 25px;
  }
}
@media (max-width: 768px) {
  /* Header and Nav */

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
  }

  header {
    text-align: center;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    border-radius: 25px;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger .line {
    width: 25px;
    height: 3px;
    background-color: whitesmoke;
    margin: 5px;
  }

  /* About Me page */

  .about-text {
    max-height: 300px;
  }

  /* Portfolio Page */

  .project img {
    width: 100%;
  }

  .project-description {
    font-size: 14px;
    max-height: 200px;
    overflow: auto;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: linear-gradient(blue, yellow); /* For Firefox */
  }

  /* For WebKit browsers (Chrome, Safari, Edge) */
  .project-description::-webkit-scrollbar {
    width: 10px;
  }

  .project-description::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }

  /* Ensures scrollbar is always visible */
  .project-description {
    overflow-y: scroll;
  }

  .softSkillsTitle {
    font-size: 20px;
    justify-content: start !important;
    align-items: center;
  }

  .softSkillsContent {
    font-size: 14px;
    text-align: right !important;
  }

  .softSkills {
    align-items: center;
    display: flex;
  }

  .softSkillsArrow {
    display: none;
  }

  /* Send Message Button */

  .icon-spacing {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 0px;
  }

  .contact {
    text-align: center;
  }

  .contact h2,
  .contact h4 {
    font-family: "Manrope", sans-serif;
  }

  .contact h4 {
    font-size: 20px;
    padding-bottom: 25px;
  }

  .contact-header-row {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .contact {
    border-radius: 0px;
    padding: 25px;
    padding-bottom: 75px;
    padding-top: 50px;
  }

  .project-links a {
    color: white;
    font-size: 24px;
    text-decoration: none;
  }

  .contact-btn {
    background-color: var(--hover-glow-color);
    border-color: var(--hover-glow-color);
    font-weight: bold;
  }

  .contact {
    background: url(https://wallpaperaccess.com/full/6247613.jpg);
  }
}

@media (max-width: 700px) {
  .logo-images img {
    width: 100px;
  }

  .about-text {
    max-width: 90%;
    border-radius: 15px;
  }

  .aboutMe-button {
    width: 200px;
    padding: 0;
    font-size: 20px;
  }

  .profile-photo {
    width: 300px;
    text-align: center;
  }
}

@media (max-width: 350px) {
  .logo-images img {
    max-width: 75px;
    padding: 10px;
  }
}
